<style>
  .ibox-content {
    border: 1px solid #e7eaec;
  }
</style>

<div ng-include src="'app/modules/header/views/header.html'"></div>

<div class="body-container">
  <section class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div class="row text-center">
              <span>Let us know how</span><br/>
              <span>we can help!</span>
            </div>
            
            <form class="m-t"
                  role="form"
                  validate-form="contactCtrl.send_contant()"
                  name="loginForm"
                  novalidate="">
              <div class="form-group">
                <input validation
                       type="email"
                       id="form_email"
                       name="form_email"
                       ng-model="contactCtrl.form.email"
                       class="form-control"
                       placeholder="Email"
                       required="">
              </div>
              
              <div class="form-group">
                <input validation
                       type="text"
                       id="form_subject"
                       name="form_subject"
                       ng-model="contactCtrl.form.subject"
                       class="form-control"
                       placeholder="Subject"
                       required="">
              </div>
              
              <div class="form-group">
                <textarea validation
                       type="text"
                       id="form_message"
                       name="form_message"
                       ng-model="contactCtrl.form.message"
                       class="form-control"
                       placeholder="Message"
                       required="">
                </textarea>
              </div>
              
              <div class="form-group">
                <div vc-recaptcha
                     theme="'light'"
                     ng-model="contactCtrl.myRecaptchaResponse"
                     key="contactCtrl.form.key"
                     on-create="contactCtrl.setWidgetId(widgetId)"
                     on-success="contactCtrl.setResponse(response)"
                     on-expire="contactCtrl.cbExpiration()">
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary block full-width m-b">
                <span ng-show="contactCtrl.logging_in">
                  <i class="glyphicon glyphicon-refresh spinning"></i>
                </span>
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
<section id="contact" class="gray-section contact">
  <div ng-include src="'app/modules/footer/views/footer.html'"></div>
</section>

<section id="space" class="gray-section team">
  <div class="space-20"></div>
</section>