<div class="col-md-12 col-xs-12 fadeInDown">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center bottom-space" style="padding-top:6em;">
    <img class="logo" ng-src="assets/images/logo_shank_alt.png" width="40%">
  </div>
  
  <div class="col-md-4"></div>
  <div class="clearfix"></div>

  <div class="col-md-4"></div>
  <div class="col-md-4 col-xs-12 text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12" style="padding-top:3em;">
      <img src="assets/images/play-store.png" width="150px" ng-click="invitationCtrl.open_android()" style="cursor:pointer;" />
      <img src="assets/images/app-store.png" width="150px" ng-click="invitationCtrl.open_ios()" style="cursor:pointer;" />
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
  </div>
  
  <div class="col-md-4"></div>
  <div class="clearfix"></div>
  
  <div class="col-md-4"></div>
  <div class="col-md-4 col-xs-12 text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12" style="padding-top:3em;">
      <a class="btn btn-primary" ng-click="invitationCtrl.open_app()">Open APP</a>
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
  </div>
  
  <div class="col-md-4"></div>
  <div class="clearfix"></div>
</div>
