<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <img src="assets/img/logo_shank.png" alt="levelap" />
            </li>
            <li [ngClass]="{active: activeRoute('reports')}">
                <a><i class="fa fa-file-text-o"></i> <span class="nav-label">Reports</span></a>
                <ul class="nav metismenu">
                    <li [ngClass]="{active: activeRoute('reports/referred')}">
                        <a><i class="fa fa-"></i> <span class="nav-label">Referred</span></a>
                    </li>
                    <li [ngClass]="{active: activeRoute('reports/earnings')}">
                        <a><i class="fa fa-"></i> <span class="nav-label">Earnings</span></a>
                    </li>
                    <li [ngClass]="{active: activeRoute('reports/funnel')}">
                        <a><i class="fa fa-"></i> <span class="nav-label">Demographic Information</span></a>
                    </li>
                    <li [ngClass]="{active: activeRoute('reports/rankingPerTournament')}">
                        <a><i class="fa fa-"></i> <span class="nav-label">Ranking per Tournament</span></a>
                    </li>
                </ul>
            </li>
            <li [ngClass]="{active: activeRoute('usersProfiles')}">
                <a><i class="fa fa-address-book-o"></i> <span class="nav-label">Users & Profiles</span></a>
                <ul class="nav metismenu">
                    <li [ngClass]="{active: activeRoute('usersProfiles/users')}">
                        <a><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
                        <ul class="nav metismenu">
                            <li [ngClass]="{active: activeRoute('usersProfiles/users/admin')}">
                                <a [routerLink]="['./usersProfiles/users', 'admin']"><i class="fa fa-user-circle-o"></i> <span class="nav-label">Admin</span></a>
                            </li>
                            <li [ngClass]="{active: activeRoute('usersProfiles/users/public')}">
                                <a [routerLink]="['./usersProfiles/users', 'public']"><i class="fa fa-user-o"></i> <span class="nav-label">Public</span></a>
                            </li>
                        </ul>
                    </li>
                    <li [ngClass]="{active: activeRoute('usersProfiles/profiles')}">
                        <a [routerLink]="['./usersProfiles/profiles']"><i class="fa fa-address-card-o"></i> <span class="nav-label">Profiles</span></a>
                    </li>
                </ul>
            </li>
            <li [ngClass]="{active: activeRoute('settings')}">
                <a [routerLink]="['./settings']"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
            </li>
        </ul>
    </div>
</nav>
