<div class="wrapper wrapper-content animated fadeInRight">
    <form class="col-md-12" role="form" name="appSettings" (submit)="saveSettings()" novalidate>

        <p-growl></p-growl>

        <div class="col-md-12 header-top">
            <div class="col-md-6 header-title">
                <h1>Application Settings</h1>
            </div>
            <div class="col-md-6 text-right">
                <button type="submit" class="btn btn-primary btn-w-m">Save</button>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-12 body-container">
            <div class="col-md-12 form-group">
                <div class="col-md-1"></div>
                <span class="col-md-8 text-bigger text-right">
                    <label for="ppm" class="col-md-6">{{settings.ppm.name}}</label>
                    <div class="col-md-3 cash-input">
                        <input name="ppm" name="ppm" type="number" pInputText [(ngModel)]="settings.ppm.value" class="text-right"/>
                    </div>
                    <span class="col-md-3 text-left"></span>
                </span>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6 text-medium">
                    <span class="col-md-12 form-group">
                        <label for="pfp" class="col-md-6">{{settings.pfp.name}}</label>
                        <div class="col-md-5 points-input">
                            <input name="pfp" type="number" pInputText [(ngModel)]="settings.pfp.value" class="text-right" />
                        </div>
                        <div class="col-md-1"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="psp" class="col-md-6">{{settings.psp.name}}</label>
                        <div class="col-md-5 points-input">
                            <input name="psp" type="number" pInputText [(ngModel)]="settings.psp.value" class="text-right" />
                        </div>
                        <div class="col-md-1"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="ptp" class="col-md-6">{{settings.ptp.name}}</label>
                        <div class="col-md-5 points-input">
                            <input name="ptp" type="number" pInputText [(ngModel)]="settings.ptp.value" class="text-right" />
                        </div>
                        <div class="col-md-1"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="php" class="col-md-6">{{settings.php.name}}</label>
                        <div class="col-md-5 points-input">
                            <input name="php" type="number" pInputText [(ngModel)]="settings.php.value" class="text-right" />
                        </div>
                        <div class="col-md-1"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="pvp" class="col-md-6">{{settings.pvp.name}}</label>
                        <div class="col-md-5 points-input">
                            <input name="pvp" type="number" pInputText [(ngModel)]="settings.pvp.value" class="text-right" />
                        </div>
                        <div class="col-md-1"></div>
                    </span>
                </div>
                <div class="col-md-6 text-medium">
                    <span class="col-md-12 form-group">
                        <label for="pfd" class="col-md-4">{{settings.pfd.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="pfd" name="pfd" type="number" pInputText [(ngModel)]="settings.pfd.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="psd" class="col-md-4">{{settings.psd.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="psd" name="psd" type="number" pInputText [(ngModel)]="settings.psd.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="ptd" class="col-md-4">{{settings.ptd.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="ptd" type="number" pInputText [(ngModel)]="settings.ptd.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="phd" class="col-md-4">{{settings.phd.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="phd" type="number" pInputText [(ngModel)]="settings.phd.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="pvd" class="col-md-4">{{settings.pvd.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="pvd" type="number" pInputText [(ngModel)]="settings.pvd.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="pxd" class="col-md-4">{{settings.pxd.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="pxd" type="number" pInputText [(ngModel)]="settings.pxd.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="ped" class="col-md-4">{{settings.ped.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="ped" type="number" pInputText [(ngModel)]="settings.ped.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="pid" class="col-md-4">{{settings.pid.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="pid" type="number" pInputText [(ngModel)]="settings.pid.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="pnd" class="col-md-4">{{settings.pnd.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="pnd" type="number" pInputText [(ngModel)]="settings.pnd.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="col-md-12 form-group">
                        <label for="pod" class="col-md-4">{{settings.pod.name}}</label>
                        <div class="col-md-4 percent-input">
                            <input name="pod" type="number" pInputText [(ngModel)]="settings.pod.value" class="text-right" />
                        </div>
                        <div class="clearfix"></div>
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </form>
    <div class="clearfix"></div>

</div>
