<div class="container">
  
  <div class="row space-10"></div>
  
  <div class="row">
    <div class="col-lg-12 flex space-between">
      <div class="">
        <img src="assets/images/logo_shank.png" class="footer-logo">
        <span>SHANK</span>
      </div>
      <div>
        <a ng-href="/terms-and-conditions" class="search-link"><span class="link">Terms</span></a>
        <a ng-href="/terms-and-conditions" class="search-link"><span class="link">Privacy Policy</span></a>
        <a ng-href="/terms-and-conditions" class="search-link"><span class="link">Contact</span></a>
      </div>
  </div>
</div>