<div modal="manage_tournament_modal_form" hide-on-submit="{{tournamentsCtrl.close_manage_tournament_modal}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="inmodal">
        <form class="form-horizontal"
              name="form_exception_modal"
              validate-form="tournamentsCtrl.update_tournament()"
              class="form-horizontal"
              role="form"
              novalidate>
          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{tournamentsCtrl.modal_title}}</h4>
          </div>
          
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="col-sm-12">
                    {{tournamentsCtrl.modal_body}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{{tournamentsCtrl.modal_button_action}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>