<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Tournaments</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="admin.dashboard">Dashboard</a>
      </li>
      <li class="active">
        <strong>Tournaments</strong>
      </li>
    </ol>
  </div>
  
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12 text-right">
              <button authorize-section="['tournaments.create']"
                      type="button"
                      class="btn btn-primary"
                      ui-sref="admin.tournaments.create">New</button>
              <div class="space-10"></div>
            </div>
          </div>
          
          <div class="table-responsive">
            <table ng-table="tournamentsCtrl.tableParams" class="table table-bordered">
              <tr ng-repeat="tournament in $data track by $index">
                <td data-title="'Tournament'" filter="{ 'name': 'text'}" class="text-center">{{tournament.name}}</td>
                <td data-title="'Location'" filter="{ 'location': 'text'}" class="text-center">{{tournament.location}}</td>
                <td data-title="'Venue'" filter="{ 'venue': 'text'}" class="text-center">{{tournament.venue}}</td>
                <td data-title="'Start date'" filter="{ 'startDate': 'text' }" class="text-center">{{tournament.startDate | date : 'yyyy-MM-dd'}}</td>
                <td data-title="'End date'" filter="{ 'endDate': 'text' }" class="text-center">{{tournament.endDate | date : 'yyyy-MM-dd'}}</td>
                <td data-title="'Year'" filter="{ 'year': 'text' }" class="text-center">{{tournament.year}}</td>
                <td data-title="'Actions'" class="text-center">
                  <button authorize-section="['tournaments.update']"
                          type="button"
                          class="btn btn-xs btn-warning"
                          ng-click="tournamentsCtrl.edit_tournament(tournament)"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Edit">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button ng-if="tournament.status"
                          authorize-section="['tournaments.remove']"
                          ng-click="tournamentsCtrl.manage_tournament(tournament, 2)"
                          class="btn btn-xs btn-primary"
                          data-toggle="modal"
                          data-target="#manage_tournament_modal_form"
                          title="Deactivate">
                    <i class="fa fa-power-off"></i>
                  </button>
                  <button ng-if="!tournament.status"
                          authorize-section="['tournaments.remove']"
                          ng-click="tournamentsCtrl.manage_tournament(tournament, 1)"
                          class="btn btn-xs btn-danger"
                          data-toggle="modal"
                          data-target="#manage_tournament_modal_form"
                          title="Activate">
                    <i class="fa fa-power-off"></i>
                  </button>
                </td>
              </tr>
              
              <tr ng-if="tournamentsCtrl.tournaments.length == 0">
                <td class="text-center" colspan="7">{{messages.empty_records}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- manage activation_admin_tournament_modal--> 
<div ng-include src="'app/modules/tournaments/views/tournaments.manage.modal.html'"></div>
<!-- /.delete_admin_tournament_modal-->
