<div class="form-group">
  <div class="col-sm-2"></div>
  <label class="col-sm-2 control-label text-right" for="tournament_year">Year: </label>
  <div class="col-sm-4">
    <select validation
            chosenselect
            data-placeholder="Seleccione"
            class="form-control m-b"
            id="tournament_year"
            name="tournament_year"
            ng-model="tournamentsCtrl.tournament.year"
            ng-options="year as year for year in tournamentsCtrl.years"
            required>
      <option value=""></option>
    </select>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary" ng-click="tournamentsCtrl.get_tournaments()">Search Tournament</button>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2"></div>
  <label class="col-sm-2 control-label text-right" for="tournament_tournament">Tournament: </label>
  <div class="col-sm-6">
    <select validation
            chosenselect
            data-placeholder="Seleccione"
            class="form-control m-b"
            id="tournament_tournament"
            name="tournament_tournament"
            ng-model="tournamentsCtrl.tournament.tournamentID"
            ng-options="tournament.tournamentID as tournament.name for tournament in tournamentsCtrl.tournaments"
            required>
      <option value=""></option>
    </select>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2"></div>
  <label class="col-sm-2 control-label text-right" for="tournament_start_date">Start date: </label>
  <div class="col-sm-6">
      <div ng-cloak>
        <div class="input-group clockpicker" 
             clock-picker 
             data-autoclose="true">
          <input ng-model="tournamentsCtrl.time" type="text" class="form-control">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2"></div>
  <label class="col-sm-2 control-label text-right" for="tournament_end_date">End date: </label>
  <div class="col-sm-6">
    <div class="input-group">
      <input type="text"
             class="form-control"
             id="tournament_end_date"
             name="tournament_end_date"
             uib-datepicker-popup="yyyy-MM-dd"
             ng-model="tournamentsCtrl.tournament.end_date"
             is-open="tournamentsCtrl.dates.end_date_opened"
             datepicker-options="tournamentsCtrl.dateOptions"
             alt-input-formats="tournamentsCtrl.altInputFormats" />
      <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                ng-click="tournamentsCtrl.open_search_calendar(2)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2"></div>
  <label class="col-sm-2 control-label text-right" for="tournament_main_photo">Main photo: </label>
  <div class="col-sm-6">
    <img ng-if="!tournamentsCtrl.tournament.mainPhoto && !tournamentsCtrl.main_photo_file" ng-src="img/default_quote_image.png" class="thumb-100" ng-click="tournamentsCtrl.open_select_main_photo()">
    <img ng-if="tournamentsCtrl.tournament.mainPhoto && !tournamentsCtrl.main_photo_file" ng-src="{{archive_path}}/{{tournamentsCtrl.tournament.mainPhoto}}" class="thumb-100" ng-click="tournamentsCtrl.open_select_main_photo()">
    <img ng-if="tournamentsCtrl.main_photo_file" ngf-src="tournamentsCtrl.main_photo_file" class="thumb-100" ng-click="tournamentsCtrl.open_select_main_photo()">
    <br/>
    <input type="file"
           id="tournament_main_photo"
           name="tournament_main_photo"
           ngf-change="tournamentsCtrl.on_change_select_main_photo($files)"
           ngf-select
           ng-model="tournamentsCtrl.main_photo_file"
           accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf"
           ng-show="false"/>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2"></div>
  <label class="col-sm-2 control-label text-right" for="tournament_secondary_photo">Secondary photo: </label>
  <div class="col-sm-6">
    <img ng-if="!tournamentsCtrl.tournament.secondaryPhoto && !tournamentsCtrl.secondary_photo_file" ng-src="img/default_quote_image.png" class="thumb-100" ng-click="tournamentsCtrl.open_select_secondary_photo()">
    <img ng-if="tournamentsCtrl.tournament.secondaryPhoto && !tournamentsCtrl.secondary_photo_file" ng-src="{{archive_path}}/{{tournamentsCtrl.tournament.secondaryPhoto}}" class="thumb-100" ng-click="tournamentsCtrl.open_select_secondary_photo()">
    <img ng-if="tournamentsCtrl.secondary_photo_file" ngf-src="tournamentsCtrl.secondary_photo_file" class="thumb-100" ng-click="tournamentsCtrl.open_select_secondary_photo()">
    <br/>
    <input type="file"
           id="tournament_secondary_photo"
           name="tournament_secondary_photo"
           ngf-change="tournamentsCtrl.on_change_select_secondary_photo($files)"
           ngf-select
           ng-model="tournamentsCtrl.secondary_photo_file"
           accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf"
           ng-show="false"/>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2"></div>
  <label class="col-sm-2 control-label text-right" for="atourment_url">Url: </label>
  <div class="col-sm-6">
    <input validation
           type="text"
           id="atourment_url"
           name="atourment_url"
           ng-model="tournamentsCtrl.tournament.url"
           class="form-control"
           required="" />
  </div>
  <div class="col-sm-2"></div>
</div>