{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src/core", "./src/styles"],
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ]
}
