<div class="wrapper wrapper-content animated fadeInRight">

    <div class="col-md-12 header-top">
        <div class="col-md-6 header-title">
            <h1>Profiles</h1>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 body-container">
        <p-dataTable [value]="profiles" [loading]="isLoading" [rows]="20" [paginator]="true">
            <p-headerColumnGroup>
                <p-row>
                    <p-column header="Name" styleClass="col-md-4" rowspan="2"></p-column>
                    <p-column header="Acronyms" styleClass="col-md-4" rowspan="2"></p-column>
                    <p-column header="Status" styleClass="col-md-1" rowspan="2"></p-column>
                    <p-column header="Date" colspan="2"></p-column>
                    <p-column header="Actions" styleClass="col-md-1" rowspan="2"></p-column>
                </p-row>
                <p-row>
                    <p-column header="Creation" styleClass="col-md-1"></p-column>
                    <p-column header="Update" styleClass="col-md-1"></p-column>
                </p-row>
            </p-headerColumnGroup>

            <p-column field="name"></p-column>
            <p-column field="acronyms"></p-column>
            <p-column field="status">
                <ng-template let-col let-profile="rowData" pTemplate="body">
                    <span>{{profile.status ? 'Enabled' : 'Disabled'}}</span>
                </ng-template>
            </p-column>
            <p-column field="created_at" styleClass="text-center">
                <ng-template let-col let-profile="rowData" pTemplate="body">
                    <span>{{profile.created_at | date:'dd-MM-yyyy'}}</span>
                </ng-template>
            </p-column>
            <p-column field="updated_at" styleClass="text-center">
                <ng-template let-col let-profile="rowData" pTemplate="body">
                    <span>{{profile.updated_at | date:'dd-MM-yyyy'}}</span>
                </ng-template>
            </p-column>
            <p-column styleClass="text-right">
                <ng-template let-col let-profile="rowData" pTemplate="body">
                    <button pButton type="button" icon="fa-trash" class="ui-button-icon" [ngClass]="{'ui-button-danger': profile.status, 'ui-button-success': !profile.status}" pTooltip="{{!profile.status ? 'Enable' : 'Disable'}}" tooltipPosition="top"></button>
                    <button pButton type="button" icon="fa-pencil" class="ui-button-warning ui-button-icon" pTooltip="Edit" tooltipPosition="top"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="clearfix"></div>
</div>
