<div ng-include src="'app/modules/header/views/header.html'"></div>

<div class="body-container">
  <section class="container">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        SHANK TERMS AND CONDITIONS
        
        Effective: August 25, 2016
        
        Thank you for deciding to use our products and services
        hereinafter referred to as the "Services."
        
        The purpose of these Terms of Service (the “Terms) is to
        provide users with the rules that govern the relationship with
        Bini LLC. These Terms do indeed form a legally binding
        contract between Bini LLC and the user. So please read
        them carefully.
        
        By using the Services, you agree to the Terms.
        
        THESE TERMS CONTAIN AN ARBITRATION CLAUSE.
        EXCEPT FOR CERTAIN TYPES OF DISPUTES MENTIONED
        IN THAT ARBITRATION CLAUSE, YOU AND BINI AGREE
        THAT DISPUTES BETWEEN US WILL BE RESOLVED BY
        MANDATORY BINDING ARBITRATION, AND YOU AND BINI
        WAIVE ANY RIGHT TO PARTICIPATE IN A CLASS-ACTION
        LAWSUIT OR CLASS-WIDE ARBITRATION.
        
        CONTENT BOUNDARIES AND USE OF BINI. 13 is the
        minimum age permitted to create an account or use the
        Services.
        
        Additional Services with additional terms may require you to
        be even older to use them. So please read all terms carefully.
        
        By using the Services, you acknowledge that:you are not a
        person who is barred from receiving the Services under
        any applicable jurisdiction; you have the legal capacity to form
        a contract with Bini, and; you will comply with these Terms and
        all applicable laws, rules, and regulations. If you are using the
        Services on behalf of a business or some other entity, you
        acknowledge that you are authorized to issue all licenses
        set forth in these Terms and to agree to these Terms on
        behalf of the business or entity.
      </div>
    </div>
  </section>
</div>