<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="form-group">
    <label class="col-lg-1 col-md-3 control-label" for="profile_name">Profile:</label>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <input validation
             type="text"
             class="form-control"
             id="profile_name"
             name="profile_name"
             ng-model="profileCtrl.profile.name"
             required />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">&nbsp;</div>
  </div>
</div>

<div class="space-20">&nbsp;</div>

<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="form-group">
    <label class="col-lg-2 col-md-2 col-sm-2 control-label">PERMISSIONS:</label>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <input icheck
             type="checkbox"
             name="all_permissions"
             ng-model="profileCtrl.is_checked_all_modules"
             ng-change="profileCtrl.check_permissions_all_modules()" />&nbsp;&nbsp;All
    </div>
  </div>
</div>

<div class="space-20">&nbsp;</div>

<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="tabs-container">
    <uib-tabset class="tabs-left">
      <uib-tab ng-repeat="module in profileCtrl.modules" heading="{{module.name | translate}}">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
              <div class="checkbox">
                <label>
                  <input icheck
                         type="checkbox"
                         name="module_permission_{{module.module_id}}"
                         ng-model="module.is_checked"
                         ng-change="profileCtrl.check_permissions_by_module(module)" />&nbsp;&nbsp;All
                </label>
              </div>
            </div>
            
            <div class="col-lg-9 col-md-9 col-sm-9">
              <div class="checkbox" ng-repeat="permission in module.permissions track by $index">
                <label>
                  <input icheck
                         type="checkbox"
                         name="profile_permission_{{$index}}"
                         ng-model="permission.is_checked"
                         ng-change="profileCtrl.validate_permissions_by_module(module)" />&nbsp;&nbsp;{{permission.action | translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<div class="space-20">&nbsp;</div>