<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" uib-dropdown>
          
          <img alt="image" class="img-circle" ng-src="assets/images/profile_small.jpg" />
          
          <a uib-dropdown-toggle href>
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">{{current_user.name}} {{current_user.surname}}</strong>
              </span>
              <span class="text-muted text-xs block">{{current_user.profile}} <b class="caret"></b></span>
            </span>
          </a>
          
          <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
            <li><a ng-click="MainCtrl.logout()">Logout</a></li>
          </ul>
        </div>
        
        <div class="logo-element">
          P+
        </div>
      </li>
      
      <li>
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span class="nav-label">Shank</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboard')}">
          <li ui-sref-active="active"><a>Menu 1</a></li>
          <li ui-sref-active="active"><a>Menu 2</a></li>
          <li ui-sref-active="active"><a>Menu 3</a></li>
          <li ui-sref-active="active">
            <a href="#">
              <span>Menu 4</span>
              <span class="fa arrow"></span>
            </a>
              <ul class="nav nav-third-level">
                <li>
                  <a href="">Submenu 4.2</a>
                </li>
                <li>
                  <a href="">Submenu 4.2</a>
                </li>
              </ul>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>