<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-t-lg">
                <h1>
                    Users: Administrator
                </h1>
            </div>
            <div class="m-t-lg">
                <p-dataTable [value]="users" [loading]="isLoading" [rows]="20" [paginator]="true">
                    <p-headerColumnGroup>
                        <p-row>
                            <p-column header="Name(s)" styleClass="col-md-2" rowspan="2"></p-column>
                            <p-column header="Last Name(s)" styleClass="col-md-2" rowspan="2"></p-column>
                            <p-column header="Email" styleClass="col-md-4" rowspan="2"></p-column>
                            <p-column header="Status" styleClass="col-md-1" rowspan="2"></p-column>
                            <p-column header="Date" colspan="2"></p-column>
                            <p-column header="Actions" styleClass="col-md-1" rowspan="2"></p-column>
                        </p-row>
                        <p-row>
                            <p-column header="Creation" styleClass="col-md-1"></p-column>
                            <p-column header="Update" styleClass="col-md-1"></p-column>
                        </p-row>
                    </p-headerColumnGroup>

                    <p-column field="name"></p-column>
                    <p-column field="lastName"></p-column>
                    <p-column field="email"></p-column>
                    <p-column field="status">
                        <ng-template let-col let-user="rowData" pTemplate="body">
                            <span>{{user.status ? 'Enabled' : 'Disabled'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="creationDate" styleClass="text-center">
                        <ng-template let-col let-user="rowData" pTemplate="body">
                            <span>{{user.creationDate | date:'dd-MM-yyyy'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="updateDate" styleClass="text-center">
                        <ng-template let-col let-user="rowData" pTemplate="body">
                            <span>{{user.updateDate | date:'dd-MM-yyyy'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-right">
                        <ng-template let-col let-user="rowData" pTemplate="body">
                            <button pButton type="button" icon="fa-trash" class="ui-button-icon"
                            [ngClass]="{'ui-button-danger': user.status, 'ui-button-success': !user.status}"
                            pTooltip="{{!user.status ? 'Enable' : 'Disable'}}" tooltipPosition="top"></button>
                            <button pButton type="button" icon="fa-pencil" class="ui-button-warning ui-button-icon" pTooltip="Edit" tooltipPosition="top"></button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
