<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <!--<div ng-include="'views/common/navigation.html'"></div>-->
    <div ng-include src="'app/modules/layout/views/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}} block-ui-main" block-ui="main">

        <!-- Page wrapper -->
        <div ng-include="'app/modules/layout/views/topnavbar.html'"></div>
        
        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <!--<div ng-include="'views/common/footer.html'"></div>-->
        <div ng-include src="'app/modules/layout/views/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <!--<div ng-include="'views/common/right_sidebar.html'"></div>-->
    <div ng-include src="'app/modules/layout/views/right_sidebar.html'"></div>

</div>
<!-- End wrapper-->