<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" uib-dropdown>
          
          <!--<img alt="image" class="img-circle" ng-src="assets/images/profile_small.jpg" />-->
          
          <a uib-dropdown-toggle href>
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">{{current_user.name}} {{current_user.surname}}</strong>
              </span>
              <span class="text-muted text-xs block">{{current_user.profile}} <b class="caret"></b></span>
            </span>
          </a>
          
          <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
            <!--<li><a ui-sref="app.profile">Profile</a></li>-->
            <!--<li><a ui-sref="app.contacts">Contacts</a></li>-->
            <!--<li><a ui-sref="mailbox.inbox">Mailbox</a></li>-->
            <!--<li class="divider"></li>-->
            <li><a ng-click="layoutCtrl.open_change_password_modal()">Cambiar contrase&ntilde;a</a></li>
            <li><a ng-click="layoutCtrl.logout()">Logout</a></li>
          </ul>
        </div>
        
        <div class="logo-element">
          S+
        </div>
      </li>
      
      <li ng-class="{active: (state.includes('admin.tournaments.settings')
                             || state.includes('admin.administration.web_links')
                             || state.includes('admin.tournaments.list')
                             || state.includes('admin.tournaments.create')
                             || state.includes('admin.tournaments.update'))}">
        <a href="#">
          <i class="fa fa-users"></i>
          <span class="nav-label">Administration</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse"
          ng-class="{in: (state.includes('admin.tournaments.settings')
                             || state.includes('admin.administration.web_links')
                             || state.includes('admin.tournaments.list')
                             || state.includes('admin.tournaments.create')
                             || state.includes('admin.tournaments.update'))}">
          <li ng-class="{active: (state.includes('admin.tournaments.settings'))}">
            <a ui-sref="admin.tournaments.settings"><i class="fa fa-list-alt"></i> <span class="nav-label">Tournament settings</span> </a>
          </li>
          <li ng-class="{active: (state.includes('admin.administration.web_links'))}">
            <a ui-sref="admin.administration.web_links"><i class="fa fa-list-alt"></i> <span class="nav-label">Web links</span> </a>
          </li>
          <li ng-class="{active: (state.includes('admin.tournaments.list')
                             || state.includes('admin.tournaments.create')
                             || state.includes('admin.tournaments.update'))}">
            <a ui-sref="admin.tournaments.list"><i class="fa fa-list-alt"></i> <span class="nav-label">Tournaments</span> </a>
          </li>
        </ul>
      </li>
      
      <li ng-class="{active: (state.includes('admin.admin_users.list')
                             || state.includes('admin.admin_users.create')
                             || state.includes('admin.admin_users.update'))}">
        <a href="#">
          <i class="fa fa-users"></i>
          <span class="nav-label">Users</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse"
          ng-class="{in: (state.includes('admin.admin_users.list')
                             || state.includes('admin.admin_users.create')
                             || state.includes('admin.admin_users.update'))}">
          <li ng-class="{active: (state.includes('admin.admin_users.list')
                                  || state.includes('admin.admin_users.create')
                                  || state.includes('admin.admin_users.update'))}">
            <a ui-sref="admin.admin_users.list"><i class="fa fa-user"></i> <span class="nav-label">Of system</span></a>
          </li>
        </ul>
      </li>
      
      <li ng-class="{active: (state.includes('admin.profiles.list')
                             || state.includes('admin.profiles.create')
                             || state.includes('admin.profiles.update'))}">
        <a ui-sref="admin.profiles.list"><i class="fa fa-list-alt"></i> <span class="nav-label">Profiles</span> </a>
      </li>
      
      <li ng-class="{active: (state.includes('admin.reports.earnings')
                             || state.includes('admin.reports.funnel')
                             || state.includes('admin.reports.app_users')
                             || state.includes('admin.reports.ranking_by_tournament')
                             || state.includes('admin.reports.referrals')
                             || state.includes('admin.reports.player_payments'))}">
        <a href="#">
          <i class="fa fa-users"></i>
          <span class="nav-label">Reports</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse"
          ng-class="{in: (state.includes('admin.reports.earnings')
                             || state.includes('admin.reports.funnel')
                             || state.includes('admin.reports.app_users')
                             || state.includes('admin.reports.ranking_by_tournament')
                             || state.includes('admin.reports.referrals')
                             || state.includes('admin.reports.player_payments'))}">
          <li ng-class="{active: (state.includes('admin.reports.earnings'))}">
            <a ui-sref="admin.reports.earnings"><i class="fa fa-user"></i> <span class="nav-label">Earnings</span></a>
          </li>
          <li ng-class="{active: (state.includes('admin.reports.funnel'))}">
            <a ui-sref="admin.reports.funnel"><i class="fa fa-user"></i> <span class="nav-label">Funnel</span></a>
          </li>
          <li ng-class="{active: (state.includes('admin.reports.app_users'))}">
            <a ui-sref="admin.reports.app_users"><i class="fa fa-user"></i> <span class="nav-label">App Users</span></a>
          </li>
          <li ng-class="{active: (state.includes('admin.reports.ranking_by_tournament'))}">
            <a ui-sref="admin.reports.ranking_by_tournament"><i class="fa fa-user"></i> <span class="nav-label">Ranking by Turnament</span></a>
          </li>
          <li ng-class="{active: (state.includes('admin.reports.referrals'))}">
            <a ui-sref="admin.reports.referrals"><i class="fa fa-user"></i> <span class="nav-label">Referrals</span></a>
          </li>
          <li ng-class="{active: (state.includes('admin.reports.player_payments'))}">
            <a ui-sref="admin.reports.player_payments"><i class="fa fa-user"></i> <span class="nav-label">Player Payments</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>