.nav-header{text-align:center;}
.nav-header img{width:75%;}
.navbar-header .page-title{float:left;margin:14px 0 0 20px;}
.mini-navbar .nav-header{padding-top:10px!important;padding-bottom:10px!important;}
.profile-element{padding:20px 10px;display:block!important;}
#login{padding-top:5em;}
.page-title{text-transform:capitalize;}
.navbar-static-top{z-index:unset;}

.header-top,.body-container{background:#FFFFFF;padding-bottom:1.5em;padding-top:1.5em;margin-bottom:2em;}
.header-top .header-title h1{margin:unset;}

button{position:relative;}

.text-bigger{font-size:2em;}
.text-medium{font-size:1.5em;}

.form-group input{width:100%;}
.form-group label{margin-top:5px;}
.form-group label::after{content:":";}

.form-group .cash-input::before{content:"\f155";font-family:FontAwesome;position:absolute;left:1em;top:0.2em;}
.form-group .cash-input input{padding-left:1em;}

.form-group .points-input::before{content:"\f05d";font-family:FontAwesome;position:absolute;left:1em;top:0.2em;}
.form-group .points-input input{padding-left:1.2em;}

.form-group .percent-input::after{content:"\f295";font-family:FontAwesome;position:absolute;right:-0.3em;top:0.2em;}

p-progressspinner{position:absolute;top:0;left:0;right:0;bottom:0;height:100%;}
p-progressspinner .ui-progress-spinner{width:100%;height:100%;}
p-dropdown>.ui-dropdown{width:100%!important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#186ba0;}

.full-button{display:block;padding:5% 10%;margin:15px auto;width:100%;}
.btn-facebook{background:#3B5998;color:#FFFFFF;}
