<div ng-include src="'app/modules/header/views/header.html'"></div>

<div class="body-container">
  <section class="container">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <p><h1><strong>SHANK PRIVACY POLICY</strong></h1></p>
        
        <p>Effective: August 25, 2016</p>
        
        <p>
        Thank you for deciding to use our products and services
        hereinafter referred to as the "Services."
        </p>
        
        <p>
        LICENSE. User published Content remains the intellectual
        property of the individual user. By posting Content on Bini, you
        expressly grant Bini a non-exclusive, perpetual, royalty-free,
        revocable worldwide, fully sub-licensable right to access and
        use the services, in perpetuity. You may not copy, modify,
        distribute, sell, or lease any part of our Services, nor may you
        reverse engineer or attempt to extract the source code of that
        software, unless applicable laws prohibit these restrictions or
        you have our written permission to do so.
        </p>
        
        <p>
        Any software that we provide you may automatically
        download and install upgrades, updates, or other new features.
        You can adjust these downloads through your device's settings.
        </p>
        
        <p>
        Any such User Submissions are deemed non-confidential and
        Company shall be under no obligation to maintain the
        confidentiality of any information, in whatever form, contained
        in any User Submission.
        </p>
        
        <p>
        <strong><span class="underline">RIGHTS GRANTED TO BINI.</span></strong> Bini shall not claim ownership
        rights regarding images, photos, text, files, video, sounds,
        musical works, authorship works, applications, or any other
        materials (collectively, "Content") that posted by users on the
        Bini Services. By posting any Content on or through the Bini
        Services, you expressly grant Bini a non-exclusive, perpetual,
        royalty-free, revocable worldwide, fully sub-licensable right to
        access and use the services, including without limitation
        distributing part or all of the Site in any media formats through
        any media channels, except private content which shall not be
        distributed outside the Bini Services. Bini shall not be liable for
        illegal activities conducted by any user.
        </p>
      </div>
    </div>
  </section>
</div>