<div class="wrapper wrapper-content animated fadeInRight">

    <p-growl></p-growl>

    <div class="col-md-12 header-top">
        <div class="col-md-6 header-title">
            <h1>Players</h1>
        </div>
        <div class="col-md-6 text-right">
            <button type="submit" class="btn btn-success btn-w-m" (click)="updatePlayers()">Update List</button>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-md-12 body-container">
        <p-dataGrid [value]="players" [rows]="20" [paginator]="true">
            <ng-template let-player pTemplate="item">
                <div style="padding:0.5em" class="ui-g-12 ui-md-3">
                    <p-panel [header]="player.playerId" styleClass="text-center">
                        <img [src]="player.photoUrl" />
                        <span class="block" style="padding-top:0.5em;">{{player.fullName}}</span>
                    </p-panel>
                </div>
            </ng-template>
        </p-dataGrid>
    </div>

    <p-confirmDialog header="Are you sure?" icon="fa fa-question-circle" width="425"></p-confirmDialog>

</div>
