<div ng-include src="'app/modules/header/views/header.html'"></div>

<div class="body-container">
  <section class="container">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        RULES
        Official Rules for the Shank Game
        
        No purchase necesary to enter or win
        
        INTRODUCTION
        
        Thank you for deciding to use our products and services hereinafter
        referred to as the "Services."
        
        ELEGIBILITY
        
        The purpose of these Terms of Service (the “Terms) is to provide users
        with the rules that govern the relationship with Bini LLC. These Terms do
        indeed form a legally binding contract between Bini LLC and the user. So
        please read them carefully.
        
        PARTICIPATION
        
        To participate register at the official app for Android or IOS and follow
        the onboarding steps. By registering users agree to be bound by all the
        terms of this official Rules. Contest may not be used in any form of
        
        gambling...............
        
        GAME PERIOD
        
        CONTENT BOUNDARIES AND USE OF BINI. 13 is the minimum age
        permitted to create an account or use the Services.
        
        JOINING A GROUP
        
        Additional Services with additional terms may require you to
        be even older to use them. So please read all terms carefully.
        
        SETTING YOUR LINEUP
        
        CONTENT BOUNDARIES AND USE OF BINI. 13 is the minimum age
        permitted to create an account or use the Services.
        
        SCORING
        
        Permitted to create an account or use the Services.
      </div>
    </div>
  </section>
</div>