<div ng-include src="'app/modules/header/views/header.html'"></div>

<div class="body-container">
  <section class="container">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <p><h1><strong>RULES</strong></h1></p>
        
        <p>
        Official Rules for the Shank Game
        </p>
        
        <p>
        No purchase necesary to enter or win
        </p>
        
        <p><h2><strong>INTRODUCTION</strong></h2></p>
        
        <p>
        Thank you for deciding to use our products and services hereinafter
        referred to as the "Services."
        </p>
        
        <p><h2><strong>ELEGIBILITY</strong></h2></p>
        
        <p>
        The purpose of these Terms of Service (the “Terms) is to provide users
        with the rules that govern the relationship with Bini LLC. These Terms do
        indeed form a legally binding contract between Bini LLC and the user. So
        please read them carefully.
        </p>
        
        <p><h2><strong>PARTICIPATION</strong></h2></p>        
        
        <p>
        To participate register at the official app for Android or IOS and follow
        the onboarding steps. By registering users agree to be bound by all the
        terms of this official Rules. Contest may not be used in any form of
        </p>
        
        <p>
        gambling...............
        </p>
        
        <p><h2><strong>GAME PERIOD</strong></h2></p>
        
        <p>
        CONTENT BOUNDARIES AND USE OF BINI. 13 is the minimum age
        permitted to create an account or use the Services.
        </p>
        
        <p><h2><strong>JOINING A GROUP</strong></h2></p>
        
        <p>
        Additional Services with additional terms may require you to
        be even older to use them. So please read all terms carefully.
        </p>
        
        <p><h2><strong>SETTING YOUR LINEUP</strong></h2></p>
        
        <p>
        CONTENT BOUNDARIES AND USE OF BINI. 13 is the minimum age
        permitted to create an account or use the Services.
        </p>
        
        <p><h2><strong>SCORING</strong></h2></p>
        
        <p>
        Permitted to create an account or use the Services.
        </p>
      </div>
    </div>
  </section>
</div>

<!-- Footer -->
<section id="contact" class="gray-section contact">
  <div ng-include src="'app/modules/footer/views/footer.html'"></div>
</section>

<section id="space" class="gray-section team">
  <div class="space-20"></div>
</section>