<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="changePasswordCtrl.close_modal()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Cambiar Contrase&ntilde;a</h4>
  </div>
  
	<form role="form"
				class="form-horizontal"
				name="change_password_modal_form"
				validate-form="changePasswordCtrl.save()"
				novalidate>
    
    <div class="modal-body">
      
      <div class="form-group">
        <div class="col-md-10 col-sm-10 col-xs-10">
          <input validation
                 password
                 type="password"
                 class="form-control"
                 placeholder="Contrase&ntilde;a Actual"
                 id="credential_current_password"
                 name="credential_current_password"
                 ng-model="changePasswordCtrl.credential.current_password"
                 required="" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-md-10 col-sm-10 col-xs-10">
          <input validation
                 password
                 type="password"
                 class="form-control"
                 placeholder="Contrase&ntilde;a"
                 id="credential_new_password"
                 name="credential_new_password"
                 ng-model="changePasswordCtrl.credential.password"
                 required="" />
        </div>
        
        <div class="col-md-2 col-xs-2">
          <div class="levelap-tooltip">
            <i class="fa fa-question-circle font-25"
               tooltip-placement="top-right"
               uib-tooltip="La contraseña debe tener únicamente letras y números, mínimo 6 caracteres, con al menos una minúscula, una mayúscula y un número"
               tooltip-class="customClass"></i>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-md-10 col-sm-10 col-xs-10">
          <input validation
                 password
                 confirm-password="changePasswordCtrl.credential.password"
                 type="password"
                 class="form-control"
                 placeholder="Repita Contrase&ntilde;a"
                 id="credential_confirm_password"
                 name="credential_confirm_password"
                 ng-model="changePasswordCtrl.credential.confirm_password"
                 required="" />
        </div>
        
        <div class="col-md-2 col-xs-2">
          <div class="levelap-tooltip">
            <i class="fa fa-question-circle font-25"
               tooltip-placement="top-right"
               uib-tooltip="La contraseña debe tener únicamente letras y números, mínimo 6 caracteres, con al menos una minúscula, una mayúscula y un número"
               tooltip-class="customClass"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal-footer" style="text-align: center;">
<button type="button" class="btn btn-default" ng-click="changePasswordCtrl.close_modal()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>