<div class="passwordBox animated fadeInDown">
  <div class="row">

    <div class="col-md-12">
      <div class="ibox-content">

        <h2 class="font-bold text-center">Recordar Contraseña</h2>
          
        <p>
          Ingrese su dirección de correo electrónico y una contraseña temporal será enviada.
        </p>
        
        <div class="row">
          <div class="col-lg-12">
            <form class="m-t"
                  role="form"
                  validate-form="forgotCtrl.forgot_password()"
                  name="forgotForm"
                  novalidate="">
              <div class="form-group">
                <input validation
                       type="email"
                       id="credentials_email"
                       name="credentials_email"
                       ng-model="forgotCtrl.credentials.email"
                       class="form-control"
                       placeholder="Correo Electr&oacute;nico"
                       required="">
              </div>
              
              <button type="submit" class="btn btn-primary block full-width m-b">Enviar contrase&ntilde;a temporal</button>
              
              <div class="form-group text-center pointer" >
                <a ui-sref="login">
                  <small class="text-info">Inicia Sesi&oacute;n </small>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>