<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Bienvenidos a Shank - Administrador</h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight without-padding-bottom">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Administraci&oacute;n</h4>
        </div>
        <div class="ibox-content">
          <h5>
            <a class="font-bold text-success" ui-sref="admin.brands.list">Marcas</a>
          </h5>                    
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Perfiles</h4>
        </div>
        <div class="ibox-content">
          <h5>
            <a class="font-bold text-success" ui-sref="admin.profiles.list">Configuraci&oacute;n</a>
          </h5>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Usuarios</h4>
        </div>
        <div class="ibox-content">
            <h5>
              <a class="font-bold text-success" ui-sref="admin.admin_users.list">Del Sistema</a>
            </h5>
        </div>
      </div>
    </div>
  </div>
</div>