<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Welcome to Shank</h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight without-padding-bottom">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Earnings</h4>
        </div>
        
        <div class="ibox-content">
          <h1 class="no-margins">$ {{dashCtrl.total_earnings | format_number }}</h1>
          <div class="text-center">
            <small ui-sref="admin.reports.earnings" class="text-success pointer" >View report</small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Funnel</h4>
        </div>
        <div class="ibox-content">
          <ul class="list-group clear-list">
            <li class="list-group-item fist-item">
              <span class="pull-right">
                {{dashCtrl.funnel.acquisition}}
              </span>
              Acquisition
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                {{dashCtrl.funnel.activation}}
              </span>
              Activation
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                <span>Android</span>&nbsp;&nbsp;&nbsp;<span>IOS</span>
              </span>
              Retention
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                {{dashCtrl.funnel.referral}}
              </span>
              Referral
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                {{dashCtrl.funnel.revenue}}
              </span>
              Revenue
            </li>
          </ul>
          
          <div class="text-center">
            <small ui-sref="admin.reports.funnel" class="text-success pointer" >View report</small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>App Users</h4>
        </div>
        <div class="ibox-content">
          <ul class="list-group clear-list">
            <li class="list-group-item fist-item">
              <span class="pull-right">
                {{dashCtrl.data_for_dashboard.total_users_today}}
              </span>
              New User Today
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                {{dashCtrl.data_for_dashboard.avg_people_on_tournament}}
              </span>
              AVG People on a Tournament
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                {{dashCtrl.data_for_dashboard.avg_earnings_per_group}}
              </span>
              AVG Earnings Per Group
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                {{dashCtrl.data_for_dashboard.total_groups}}
              </span>
              Active Groups
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>